{% extends 'baseBack.html.twig' %}
{% block title %}
    Afficher Réclamations
{% endblock %}
{% block content %}
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3"> Réclamations </div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bxs-report"></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->

        </br>
            <h6 class="mb-0 text-uppercase">Liste des Réclamations</h6>
            <hr/>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>Nom du client </th>
                                <th>type de la réclamation</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Etat</th>
                                <th>Traiter</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rec in rec %}
                            <tr>
                                <td>{{ rec.user.nom }}</td>
                                <td>{{ rec.type }}</td>
                                <td></td>
                                <td> {{ rec.Description }}</td>
                                <td> {% if rec.etat == 0 %}
                                <span class="badge bg-light text-white w-100">Non Traitée</span>
                                {% else %}
                                <span class="badge bg-light text-white w-100">Traitée</span>
                                {% endif %}
                                </td>
                                {% if rec.etat== 0 %}
                                <td><a href="{{path("rec_res",{'id':rec.id})}}" class="text-white bg-light border-0"><i class='bx bxs-edit'></i></a></td>
                                <td><a href="{{ path('delete_rec',{'id':rec.id}) }}" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a></td>
                                {% else %}
                                    <td><a href="#" class="text-white bg-light border-0"><i class='bx bxs-edit'></i></a></td>
                                    <td><a href="{{ path('delete_rec',{'id':rec.id}) }}" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                            <tr>
                                <th>Nom du client </th>
                                <th>type de la réclamation</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Etat</th>
                                <th>Traiter</th>
                                <th>Supprimer</th>
                            </tr>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(rec) }}
    </div>

    <!--end page wrapper -->
{% endblock %}