{% extends 'baseFront.html.twig' %}

{% block title %}Inscription{% endblock %}




{% block content %}
<!-- Start Page Banner -->
<div class="page-banner-area item-bg4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Inscription</h2>
                    <ul>
                        <li>
                            <a href={{ path('front') }}>Home</a>
                        </li>
                        <li>Inscription</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
</style>


            {{ form_start(f) }}
   <section class="register-area ptb-100">
            <div class="container">
                <div class="register-form">
                    <h2>Inscription</h2>
                      <div class="form-group">
             {{ form_row(f.Nom,{'attr': {'class':'form-control'}}) }}
              </div>

             <div class="form-group">
            {{ form_row(f.Prenom,{'attr': {'class':'form-control'}}) }}

             </div>
             <div class="form-group">
                 {{ form_row(f.Username,{'attr': {'class':'form-control'}}) }}
              </div>
            <div class="form-group">
                {{ form_row(f.Email,{'attr': {'class':'form-control'}}) }}

             </div>
             <div class="form-group">
                 {{ form_row(f.Password,{'attr': {'class':'form-control'}}) }}
              </div>
         <div class="form-group">
             {{ form_row(f.Confirm_password,{'attr': {'class':'form-control'}}) }}
              </div>
            <div class="form-group">
             {{ form_row(f.file,{'attr': {'class':'form-control'}}) }}
               </div>

               <div class="form-group">
                   {{ form_row(f.captcha,{'attr': {'class':'form-control'}}) }}
                <button type="submit" class="default-btn">Register</button>
            </div>
            </div>
            </div>
        </section>
            {{ form_end(f) }}
            

{% endblock  %}
