{% extends 'baseFront.html.twig' %}
{% block title %}
    Réservations
{% endblock %}
{% block content %}

    <!-- Start Page Banner -->
    <style>
        .page-banner-area {
            background-image: url(Front/assets/img/h.jpg);
            padding-top: 250px;
        }
    </style>
    <div class="page-banner-area ">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-banner-content">
                        <h2>Reservation</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>Reservation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->

    <!-- Start Checkout Area -->
    <section class="checkout-area ptb-100">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="billing-details">
                        <h3 class="title">Reservation</h3>
                        {{ form_start(form,{ 'attr' : {'novalidate':'novalidate'} }) }}
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <label for="inputProductDescription" class="form-label">1/ Votre Nom et Prenom</label>
                                {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.nom) }}
                            </div>
                            <div class="col-lg-12 col-md-12">
                                {{ form_label(form.mobile,"2/ votre numero",{'attr':{'class':'form-label'}}) }}
                                {{ form_widget(form.mobile,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.mobile) }}
                            </div>
                            <div class="col-lg-12 col-md-12">
                                {{ form_label(form.datereservation,"3/ date_reservation",{'attr':{'class':'form-label'}}) }}
                                {{ form_widget(form.datereservation)}}
                                {{ form_errors(form.datereservation) }}
                            </div>


                            <div class="col-lg-12 col-md-12">
                                {{ form_label(form.email,"4/ votre email",{'attr':{'class':'form-label'}}) }}
                                {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="col-lg-12 col-md-12">
                                {{ form_label(form.tableid,"5/ le numero du table",{'attr':{'class':'form-label'}}) }}
                                {{ form_errors(form.tableid) }}
                            </div>
                            <div class="col-lg-12 col-md-12">
                                {{ form_widget(form.tableid,{'attr':{'class':'form-control'}}) }}
                            </div>
                            <button type="submit" class="btn btn-light mx-auto">Reserver</button>
                        </div>
                        {{ form_end (form) }}
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="order-details">
                        <h3 class="title">Your Order</h3>
                        <div class="order-table table-responsive">

                            <table class="table table-bordered">

                                <thead>
                                <tr>
                                    <th scope="col">Numéro</th>
                                    <th scope="col">Image</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in r %}

                                    <tr>
                                        {% if i.etat=='disponible' %}
                                            <td class="product-name">
                                                {{ i.numerotable }}
                                            </td>
                                            <td class="product-total">
                                                <img height="120" width="200" src="{{ asset('uploads/') ~ i.imagetable  }}" alt="image"   >


                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>

                        <div class="payment-box">
                            <div class="payment-method">
                                <p>
                                    <input type="radio" id="direct-bank-transfer" name="radio-group" checked>
                                    <label for="direct-bank-transfer">Direct Bank Transfer</label>
                                    Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                                </p>
                                <p>
                                    <input type="radio" id="paypal" name="radio-group">
                                    <label for="paypal">PayPal</label>
                                </p>
                                <p>
                                    <input type="radio" id="cash-on-delivery" name="radio-group">
                                    <label for="cash-on-delivery">Cash on Delivery</label>
                                </p>
                            </div>
                            <a href="#" class="default-btn">
                                Place Order
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Checkout Area -->
{% endblock %}
