{% extends 'baseFront.html.twig' %}
{% block title %}
    Livraison
{% endblock %}
{% block content %}
    <style>
        .page-banner-area {
            background-image: url(Front/assets/img/foodd.jpg);
            padding-top: 250px;
        }
    </style>
    <div class="page-banner-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-banner-content">
                        <h2>Livraison</h2>
                        <ul>
                            <li>
                                <a href="index.html">Acceuil</a>
                            </li>
                            <li>Passer livraison</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->

    <!-- Start Checkout Area -->
    <section class="checkout-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="user-actions">


                        {{ form_start(form,{ 'attr' : {'novalidate':'novalidate'} }) }}
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-details">
                                    <h3 class="title">Details de la livraison</h3>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="form-group">
                                                <label>Addresse <span class="required">*</span></label>
                                                {{ form_widget(form.addresse ,  {'attr': {'class': 'form-control'}}) }}
                                                <ul class="custom-error">
                                                    {{form_errors(form.addresse)}}
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-6">
                                            <div class="form-group">
                                                <label>Code Postal <span class="required"></span></label>
                                                {{ form_widget(form.codepostal ,  {'attr': {'class': 'form-control'}}) }}
                                                <ul class="custom-error">
                                                    {{form_errors(form.codepostal)}}
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-6">
                                            <div class="form-group">
                                                <label>Addresse Email<span class="required"></span></label>
                                                {{ form_widget(form.email ,  {'attr': {'class': 'form-control'}}) }}
                                                <ul class="custom-error">
                                                    {{form_errors(form.email)}}
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-6">
                                            <div class="form-group">
                                                <label>Phone <span class="required">*</span></label>
                                                {{ form_widget(form.phone ,  {'attr': {'class': 'form-control'}}) }}
                                                <ul class="custom-error">
                                                    {{form_errors(form.phone)}}
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label>Détails <span class="required"></span></label>
                                                {{ form_widget(form.details ,  {'attr': {'class': 'form-control'}}) }}
                                                <ul class="custom-error">
                                                    {{form_errors(form.details)}}
                                                </ul>
                                            </div>
                                        </div>
                                        <form

                                                action="{{ path('ajouterlivraison') }}"
                                                style="display: inline-block">

                                            <button class="btn btn-primary">Passer le Livraison</button>

                                        </form>
                                    </div>
                                </div>
                            </div>

                            {{ form_end(form) }}
                            <div class="col-lg-6 col-md-6">
                                <div class="order-details">
                                    <h3 class="title">Liste des Produits</h3>
                                    <div class="order-table table-responsive">
                                        <table class="table table-bordered">
                                            <thead>

                                            <tr>
                                                <th scope="col">Nom du Produit</th>
                                                <th scope="col">Prix</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for p in liste1 %}
                                                <tr>
                                                    <td class="product-name">
                                                        <a href="shop-details.html">{{ p.product.name }}</a>
                                                    </td>
                                                    <td class="product-total">
                                                        <span class="subtotal-amount">{{ p.product.price }}</span>
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="4" class="text-right">Total :</td>
                                                <td class="text-right">{{ total }}Dt</td>
                                                <td></td>
                                            </tr>
                                            </tfoot>>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Checkout Area -->

{% endblock %}