{% extends 'baseBack.html.twig' %}
{% block title %}
    Evénements
{% endblock %}
{% block content %}
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Dashboard</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-money"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Evénements</li>
                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-xl-2">
                                    <a href="admin-addEvenement" class="btn btn-light mb-3 mb-lg-0"><i class='bx bxs-plus-square'></i>Ajouter</a>
                                </div>
                                <div class="col-lg-9 col-xl-10">
                                    <form class="float-lg-end">
                                        <div class="row row-cols-lg-auto g-2">

                                            <div class="col-12">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                    <button type="button" class="btn btn-light">Trier Par</button>
                                                    <div class="btn-group" role="group">
                                                        <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle dropdown-toggle-nocaret px-1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class='bx bx-chevron-down'></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                            <li><a class="dropdown-item" href="/admin-evenements-sortbynameasc">Par Nom ↑</a></li>
                                                            <li><a class="dropdown-item" href="/admin-evenements-sortbynamedesc">Par Nom ↓</a></li>
                                                            <li><a class="dropdown-item" href="/admin-evenements-sortbydateasc">Par Date ↑</a></li>
                                                            <li><a class="dropdown-item" href="/admin-evenements">Par Date ↓</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                        <tr>
                            <th>Nom</th>
                            <th>Statut</th>
                            <th>Description</th>
                            <th>Date Début</th>
                            <th>Date Fin</th>
                            <th>Image</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for e in backEvents %}
                            <tr>
                                <td href="" class="cursor-pointer">{{ e.name }}</td>
                                <td>

                                {% if e.dateDeb|date <= "now"|date and e.dateFin|date >= "now"|date %}
                                <span class="badge bg-gradient-lush">Actif</span>
                                {% elseif e.dateFin|date < "now"|date %}
                                    <span class="badge bg-gradient-burning">Inactif</span>
                                {% else %}
                                    <span class="badge bg-gradient-moonlit">Bientôt</span>
                                {%  endif %}
                                </td>

                                <td>{{ e.description }}</td>
                                {#<td><div class="badge rounded-pill bg-light p-2 text-uppercase px-3"><i class='bx bxs-circle me-1'></i>Traitée</div></td>#}
                                <td>{{ e.dateDeb | date ('d/m/Y') }}</td>
                                <td>{{ e.dateFin | date ('d/m/Y') }}</td>
                                <td><img height="112" width="250" src="{{ asset('uploads/') ~ e.image }}" alt="image"></td>

                                <td>
                                    <div class="d-flex order-actions">
                                        <a href={{ path('updateEvenement',{id: e.id}) }} class="ms-3"><i class='bx bxs-edit'></i></a>
                                        <a href={{ path('deleteEvenement',{id: e.id}) }} class="ms-3"><i class='bx bxs-trash'></i></a>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--end page wrapper -->
{% endblock %}
