{% extends 'baseBack.html.twig' %}
{% block title %}
    Modifier Evénement
{% endblock %}
{% block content %}
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">

            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Modifier Evènement</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-calendar-event"></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->

            <div class="card">
                <div class="card-body p-4">

                    <hr/>

                    {{ form_start(eventForm) }}
                    <div class="form-body mt-4">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="border border-3 p-4 rounded">

                                    <div class="mb-3">
                                        <label for="inputProductDescription" class="form-label">Image de
                                            l'événement</label>
                                        {{ form_widget(eventForm.image) }}
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="border border-3 p-4 rounded">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            {#                                             {{ form_label (eventForm.name) }} #}
                                            <label for="inputPrice" class="form-label">Nom de l'evenement</label>
                                            {{ form_widget(eventForm.name,{'attr':{
                                                'class':'form-control'
                                            }}) }}
                                        </div>

                                        <div class="col-md-6">
                                            <label for="inputPrice" class="form-label">Description</label>
                                            {{ form_widget(eventForm.description,{'attr':{
                                                'class':'form-control'
                                            }}) }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Date début:</label>
                                            {{ form_widget(eventForm.dateDeb) }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Date fin:</label>
                                            {{ form_widget(eventForm.dateFin) }}
                                        </div>


                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-light">Modifier</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->
                    </div>
                    {{ form_end(eventForm) }}

                </div>
            </div>

        </div>
    </div>
    <!--end page wrapper -->
{% endblock %}
