{% extends 'baseFront.html.twig' %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    {% if activeEvents is empty %}
        <div class="main-banner">
            <div class="main-banner-item">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>Foodine</h1>
                                <div class="banner-btn">
                                    <a href="" class="default-btn">Notre Restaurant</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {% for e in activeEvents %}
            <style>
                .main-banner-item {
                    background-image: url('{{asset('uploads/' ~ e.image)}}');
                }
            </style>

        <div class="main-banner">
            <div class="main-banner-item">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
{#                                <h1>Foodine</h1>#}
                                <h2>Du &nbsp;{{ e.dateDeb|date('d/m/y') }}&nbsp; jusqu'à &nbsp;{{ e.dateFin|date('d/m/y') }}</h2>
                                <div class="banner-btn">
                                    <a href="/evenements" class="default-btn" target="_blank">Plus d'événements</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}

    {% endif %}

    <section class="testimonial-area ptb-100" style="margin-top: 200px">
        <div class="container">
            <div class="section-title">
                <h2>Client’s Feedback</h2>
                <p></p>
            </div>

            <div class="testimonial-slider owl-carousel owl-theme">
                {% for rev in rev %}
                    <div class="testimonial-item">
                        <div class="info">

                            <h3>{{ rev.userName }}</h3>

                        </div>
                        <p>{{ rev.Description }}</p>

                        <ul class="rating" style="padding-right: 45px" >
                            {% if rev.Stars==1 %}
                            <li>
                                <i class='bx bxs-star'></i>

                            </li>
                            {% elseif rev.Stars==2 %}
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>


                            </li>
                            {% elseif rev.Stars==3 %}
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>


                            </li>
                            {% elseif rev.Stars==4 %}
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>


                            </li>
                            {% elseif rev.Stars==5 %}
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>

                            </li>
                        </ul>
                        {% endif %}
                        <div class="icon">
                            <i class="flaticon-right-quotes-symbol"></i>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
        <div class="deal-btn-" style="padding-left: 700px;padding-top: 20px">
            <a href="{{ path('showReview') }}" class="default-btn" >Show All</a>
        </div>
    </section>

{% endblock %}
