{% extends 'baseBack.html.twig' %}
{% block title %}
    Promotions
{% endblock %}
{% block content %}

{#    <tr>#}
{#        <td>{{ p.evenement.name }}</td>#}
{#        <td>{{ p.pourcentage }}</td>#}
{#    </tr>#}

<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Dashboard</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-money"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Promotions</li>
                    </ol>
                </nav>
            </div>

        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-xl-2">
                                <a href="admin-addPromotion" class="btn btn-light mb-3 mb-lg-0"><i class='bx bxs-plus-square'></i>Ajouter</a>
                            </div>
                            <div class="col-lg-9 col-xl-10">
                                <form class="float-lg-end">
                                    <div class="row row-cols-lg-auto g-2">

                                        <div class="col-12">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" class="btn btn-light">Trier Par</button>
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle dropdown-toggle-nocaret px-1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class='bx bx-chevron-down'></i>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="/admin-promotions-sortbynameasc">Par Nom d'événement ↑</a></li>
                                                        <li><a class="dropdown-item" href="/admin-promotions-sortbynamedesc">Par Nom d'événement ↓</a></li>
                                                        <li><a class="dropdown-item" href="/admin-promotions-sortbyprcasc">Par Pourcentage ↑</a></li>
                                                        <li><a class="dropdown-item" href="/admin-promotions-sortbyprcdesc">Par Pourcentage ↓</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
            {% for p in backPromotions %}
            <div class="col">
                <div class="card">
                    <img src="Back/assets/images/products/download.jpg" class="card-img-top">
                        <div class="position-absolute top-0 end-0 m-3 product-discount">
                            <span class="">-{{ p.pourcentage * 100}}%</span>
                        </div>
                    <div class="card-body">
                        <h6 class="card-title">{{ p.produit.name }}</h6>
                        <div class="clearfix">
                            <p class="float-end fw-bold">
                                <a href={{ path('updatePromotion',{id: p.id}) }} class=""><i class='bx bxs-edit bx-sm'></i></a>
                                <a href={{ path('deletePromotion',{id: p.id}) }} class="ms-3"><i class='bx bxs-trash bx-sm'></i></a>
                            </p>
                        </div>

                        <div class="clearfix">
                            <p class="mb-0 float-start">{{ p.evenement.name}}</p>
                            <p class="mb-0 float-end fw-bold">
                                {# OLD PRICE #}
                                <span class="me-2 text-decoration-line-through">{{ p.produit.price }}DT</span>
                                {# NEW PRICE #}
                                <span class="text-white"></span>{{ p.produit.price * (1-p.pourcentage) }}DT</p>

                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!--end row-->

    </div>
</div>
<!--end page wrapper -->
{% endblock %}