<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="{{ asset('Back/assets/images/logo-white.png" ')}}" type="image/png" />
    <!--plugins-->
    <link  href="{{ asset('Back/assets/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet" />
    <link href="{{ asset('Back/assets/plugins/input-tags/css/tagsinput.css')}}" rel="stylesheet" />

    <link href="{{ asset('Back/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" />
    <link href="{{ asset('Back/assets/plugins/highcharts/css/highcharts-white.css') }}" rel="stylesheet" />
    <link href="{{ asset('Back/assets/plugins/metismenu/css/metisMenu.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('Back/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" />
    <!-- loader-->
    <link href="{{ asset('Back/assets/css/pace.min.css') }}"  rel="stylesheet" />
    <script src="{{ asset('Back/assets/js/pace.min.js') }}"></script>
    <!-- Bootstrap CSS -->
    <link href="{{ asset('Back/assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="{{ asset('Back/assets/css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('Back/assets/css/icons.css') }}" rel="stylesheet">


    <title>Foodine | {% block title %}{% endblock %}</title>
</head>

<body class="bg-theme bg-theme6">
<!--wrapper-->
<div class="wrapper">
    <!--start header -->
    <header>
        <div class="topbar d-flex align-items-center">
            <nav class="navbar navbar-expand">
                <div class="topbar-logo-header">
                    <div class="">
                        <a href="/AffichePlanning" ><img src="{{ asset('Back/assets/images/logo-white.png')}}" class="logo-icon" alt="logo icon"></a>
                    </div>
                    <div class="">
                        <!--<h4 class="logo-text">Foodine</h4>-->
                    </div>
                </div>
                <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
                <div class="search-bar flex-grow-1">

                </div>
                <div class="top-menu ms-auto">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item mobile-search-icon">
                            <a class="nav-link" href="#">	<i class='bx bx-search'></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown dropdown-large">

                            <div class="dropdown-menu dropdown-menu-end">

                                <div class="header-notifications-list">
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-large">

                            <div class="dropdown-menu dropdown-menu-end">

                                <div class="header-message-list">









                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="user-box dropdown">
                    <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('Back/assets/images/avatars/ines.jpg')}}" class="user-img" alt="user avatar">
                        <div class="user-info ps-3">
                            <p class="user-name mb-0">Ines </p>
                            <p class="designattion mb-0">Chef</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">

                        <li><a class="dropdown-item" href="ConnexionChef.html"><i class='bx bx-log-out-circle'></i><span>Déconnexion</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--end header -->
    <!--navigation-->
    <div class="nav-container">
        <div class="mobile-topbar-header">
            <div>
                <!--	<img src="Back/assets/images/logoo.png" class="logo-icon" alt="logo icon"> -->
            </div>
            <div>
                <a href="/AffichePlanning">	<h4 class="logo-text">Foodine</h4></a>
            </div>
            <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
            </div>
        </div>
        <nav class="topbar-nav">
            <ul class="metismenu" id="menu">
                <li>
                    <a href="/AffichePlanning" class="">
                        <div class="parent-icon"><i class='bx bx-calendar'></i>
                        </div>
                        <div class="menu-title">Planning</div>
                    </a>


                <li>
                    <a href="/admin-Afficherrecette" class="">
                        <div class="parent-icon"><i class="bx bx-receipt"></i>
                        </div>
                        <div class="menu-title">Recettes</div>
                    </a>

                </li>

            </ul>
        </nav>
    </div>
    <!--end navigation-->
    <!--start page wrapper -->
    {% block content %}

    {% endblock %}

<!--end page wrapper -->
<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
</div>
<!--end wrapper-->
<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr/>
        <p class="mb-0">Gaussian Texture</p>
        <hr>

        <ul class="switcher">
            <li id="theme1"></li>
            <li id="theme2"></li>
            <li id="theme3"></li>
            <li id="theme4"></li>
            <li id="theme5"></li>
            <li id="theme6"></li>
        </ul>
        <hr>
        <p class="mb-0">Gradient Background</p>
        <hr>

        <ul class="switcher">
            <li id="theme7"></li>
            <li id="theme8"></li>
            <li id="theme9"></li>
            <li id="theme10"></li>
            <li id="theme11"></li>
            <li id="theme12"></li>
            <li id="theme13"></li>
            <li id="theme14"></li>
            <li id="theme15"></li>
        </ul>
    </div>
</div>
<!--end switcher-->


<!--app JS-->
<script src="Back/assets/js/app.js"></script>

<script src="Back/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="Back/assets/js/jquery.min.js"></script>
<script src="Back/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="Back/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="Back/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="Back/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js"></script>
<!--plugins--><script src="Back/assets/plugins/input-tags/js/tagsinput.js"></script>

<script>
    $(document).ready(function () {
        $('#image-uploadify').imageuploadify();
    })
</script>
<script src="Back/assets/js/app.js"></script>
<script>
    new PerfectScrollbar('.customers-list');
    new PerfectScrollbar('.store-metrics');
    new PerfectScrollbar('.product-list-2');
</script>
<!--app JS-->


</body>
<footer class="page-footer">
    <p class="mb-0">Copyright © 2021. All right reserved.</p>
</footer>
</html>