{% extends 'baseFront.html.twig' %}
{% block title %}
    Evénements
{% endblock %}
{% block content %}

    <style>
        .page-banner-area {
            background-image: url(Front/assets/img/footer-bg.jpg)
        }
    </style>

    <div class="page-banner-area">

        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-banner-content">
                        <h2>Nos Deals</h2>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>Nos Deals</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="blog-area pt-100 pb-100">
        <div class="container">

            <div class="row">
    {% for e in frontEvents %}

                <div class="col-lg-6 col-md-6">
                    <div class="single-blog-item">
                        <div class="image">
                            <a href={{ path('eventDeals',{id: e.id}) }}><img src="{{asset('uploads/' ~ e.image)}}" alt="image"></a>

                            <div class="date">
                                <span>Du <b>{{ e.dateDeb|date('d/m/Y') }}</b> Jusqu'à <b>{{ e.dateFin|date('d/m/Y') }}</b></span>
                            </div>
                        </div>
                        <div class="content">
                            <h3>
                                <a href={{ path('eventDeals',{id: e.id}) }}>{{ e.name }}</a>
                            </h3>
                            <a href={{ path('eventDeals',{id: e.id}) }} class="blog-btn">Plus d'Informations +</a>
                        </div>
                    </div>
                </div>

    {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}