{% extends 'baseBack.html.twig' %}
{% block title %}
    Afficher Utilisateurs
{% endblock %}
{% block content %}
    <!--start page wrapper -->
    <div class="page-wrapper">

        <div class="page-content">

            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3"> Utilisateurs </div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bxs-user-badge"></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

                <div class="position-relative search-bar-box">
                    <input type="text" class="form-control search-control" id="search" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                    <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
                </div>

            </div>

            <!--end breadcrumb-->

            <h6 class="mb-0 text-uppercase">Liste des utilisateurs</h6>
            <hr/>

            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4" id="entitiesNav">

                {% for user in user %}
                <div class="col">
                    <div class="card radius-15" >
                        <div class="card-body text-center">
                            <div class="p-4 border radius-15">
                                <img src="{{ asset('uploads/' ~ user.file ) }}" width="110" height="110" class="rounded-circle shadow" alt="">
                                <h5 class="mb-0 mt-5">{{ user.Nom}} {{ user.Prenom}} </h5>
                                <p class="mb-3">
                                    {% for role in user.Roles %}
                                        {% if role=="ROLE_CHEF" %}
                                            Chef
                                        {% elseif role=="ROLE_LIVREUR" %}
                                            Livreur
                                        {% elseif role=="ROLE_USER" %}
                                           Simple_utilisateur
                                        {% endif %}

                                    {% endfor %}</p>

                                <div class="d-grid">
                                    <a href="{{path('admin_ModifierUser',{'id':user.id})}}"class="btn btn-light radius-15">Attribuer Role</a>
                                </div>
                            </br>
                                {% if user.Etat==1 %}
                                <div class="d-grid">
                                    <a href="{{path('admin_blockUser',{'id':user.id})}}"class="btn btn-light radius-15">Bloquer</a>
                                </div>
                                    {% elseif user.Etat==0 %}
                                    <div class="d-grid">
                                        <a href="{{path('admin_unblockUser',{'id':user.id})}}"class="btn btn-light radius-15">Débloquer</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
            <div class="pagination">
                {{ knp_pagination_render(user) }}
            </div>
            <!--end row-->

        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('admin_searchBack') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'entities') {
                                            if (id !== 'error') {
                                                entitySelector.append('<div class="col"> <div class="card radius-15" ><div class="card-body text-center"><div class="p-4 border radius-15">' +
                                                    '<img width="110" height="110" class="rounded-circle shadow" alt="" src="/uploads/'+value[0]+'"/>'+

                                                    '<h5 class="mb-0 mt-5" >'+value[2]+' '+ value[1]+'<p>'+value[3] +'</p></div></div></div></div> ');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });

        });
    </script>
    <!--end page wrapper -->
{% endblock %}