{% extends 'baseBack.html.twig' %}
{% block title %}
    Dashboard
{% endblock %}
{% block notif %}
    <div class="top-menu ms-auto">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item dropdown dropdown-large">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"  >
                   <div  >
                    <span class="alert-count " id="count">
                    {{ nbNotif }}
                    </span>
                    <i class='bx bx-bell'></i>
                   </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="{{path('admin_readNotif')}}" >
                        <div class="msg-header">
                            <p class="msg-header-title">Notifications</p>
                            <p class="msg-header-clear ms-auto">Marks all as read</p>
                        </div>
                    </a>

                        <div class="header-notifications-list" id="notification_button" id="notification">
                            {% for notif in notif %}
                            <a class="dropdown-item" href="#" >

                                <div class="d-flex align-items-center">
                                    <div class="notify"><i class='bx bx-user-pin'></i>
                                    </div>

                                    <div class="flex-grow-1" >
                                        <h6 class="msg-name">{{ notif.Titre }}<span class="msg-time float-end">
                                                {% if notif.Status==1 %}
                                               Seen
                                                {% else %}
                                                    Unseen
                                                    {% endif %}
                                            </span></h6>
                                        <p class="msg-info">{{ notif.Message }}</p>
                                    </div>

                                </div>

                            </a>
                            {% endfor %}
                        </div>

                    <a href="{{path('admin_showNotif')}}">
                        <div class="text-center msg-footer">View All Notifications</div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}

    <!--start page wrapper -->
    <div class="page-wrapper">

        <div class="page-content">

            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
                <div class="col">
                    <div class="card radius-10 overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0">Commandes Totales</p>
                                    <h5 class="mb-0 text-white">867</h5>
                                </div>
                                <div class="ms-auto text-white">	<i class='bx bx-cart font-30'></i>
                                </div>
                            </div>
                        </div>
                        <div class="" id="chart1"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card radius-10 overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0">Revenu Total</p>
                                    <h5 class="mb-0 text-white">$52,945</h5>
                                </div>
                                <div class="ms-auto text-white">	<i class='bx bx-wallet font-30'></i>
                                </div>
                            </div>
                        </div>
                        <div class="" id="chart2"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card radius-10 overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0">Nombre Clients Total</p>

                                    <h5 class="mb-0 text-white"> {{ n }}</h5>

                                </div>
                                <div class="ms-auto text-white">	<i class='bx bx-group font-30'></i>
                                </div>
                            </div>
                        </div>
                        <div class="" id="chart3"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card radius-10 overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0">Feed-Backs</p>
                                    <h5 class="mb-0 text-white">{{ revCount }}</h5>
                                </div>
                                <div class="ms-auto text-white">	<i class='bx bx-chat font-30'></i>
                                </div>
                            </div>
                        </div>
                        <div class="" id="chart4"></div>
                    </div>
                </div>
            </div><!--end row-->





            <div class="row">

                <div class="col-12 col-lg-6 col-xl-8 d-flex">
                    <div class="card radius-10 w-100">
                        <div class="card-header border-bottom">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h6 class="mb-0">Feed-Back des clients</h6>
                                </div>
                                <div class="font-22 ms-auto text-white"><i class="bx bx-dots-horizontal-rounded"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for rev in rev %}
                            <li class="list-group-item bg-transparent">
                                <div class="d-flex align-items-center">
                                    <img src="/back/assets/images/avatars/avatar-1.png" alt="user avatar" class="rounded-circle" width="55" height="55">
                                    <div class="ms-3">
                                        <h6 class="mb-0">{{  rev.userName }} <small class="ms-4"></small></h6>
                                        <p class="mb-0 small-font">{{ rev.Description }}</p>
                                    </div>
                                      {% if rev.Stars==1 %}
                                    <div class="ms-auto star">
                                        <i class='bx bxs-star text-white'></i>
                                        <i class='bx bxs-star text-light-4'></i>
                                        <i class='bx bxs-star text-light-4'></i>
                                        <i class='bx bxs-star text-light-4'></i>
                                        <i class='bx bxs-star text-light-4'></i>
                                    </div>
                                          {% elseif rev.Stars==2 %}
                                              <div class="ms-auto star">
                                                  <i class='bx bxs-star text-white'></i>
                                                  <i class='bx bxs-star text-white'></i>
                                                  <i class='bx bxs-star text-light-4'></i>
                                                  <i class='bx bxs-star text-light-4'></i>
                                                  <i class='bx bxs-star text-light-4'></i>
                                              </div>
                                              {% elseif rev.Stars==3 %}
                                                  <div class="ms-auto star">
                                                      <i class='bx bxs-star text-white'></i>
                                                      <i class='bx bxs-star text-white'></i>
                                                      <i class='bx bxs-star text-white'></i>
                                                      <i class='bx bxs-star text-light-4'></i>
                                                      <i class='bx bxs-star text-light-4'></i>
                                                  </div>

                                          {% elseif rev.Stars==4 %}
                                              <div class="ms-auto star">
                                                  <i class='bx bxs-star text-white'></i>
                                                  <i class='bx bxs-star text-white'></i>
                                                  <i class='bx bxs-star text-white'></i>
                                                  <i class='bx bxs-star text-white'></i>
                                                  <i class='bx bxs-star text-light-4'></i>
                                              </div>
                                              {% else %}
                                                  <div class="ms-auto star">
                                                      <i class='bx bxs-star text-white'></i>
                                                      <i class='bx bxs-star text-white'></i>
                                                      <i class='bx bxs-star text-white'></i>
                                                      <i class='bx bxs-star text-white'></i>
                                                      <i class='bx bxs-star text-white'></i>

                                                  </div>

                                    {% endif %}
                                    <a href="{{ path('admin_deleteReview',{'id':rev.id}) }}" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a>
                                </div>

                                {% endfor%}
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-12 col-xl-4 d-flex">
                    <div class="card radius-10 w-100 overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-0">Métriques du restaurant</h5>
                                </div>
                                <div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
                                </div>
                            </div>
                        </div>

                        <div class="store-metrics p-3 mb-3">

                            <div class="card mt-3 radius-10 bg-transparent border shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0">Produits totaux</p>
                                            <h4 class="mb-0">856</h4>
                                        </div>
                                        <div class="widgets-icons ms-auto"><i class='bx bxs-shopping-bag'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card radius-10 border bg-transparent  shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0">Cliens totaux</p>
                                            <h4 class="mb-0">{{ n }}</h4>
                                        </div>
                                        <div class="widgets-icons ms-auto"><i class='bx bxs-group'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card radius-10 border bg-transparent  shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0">Categories totales</p>
                                            <h4 class="mb-0">98</h4>
                                        </div>
                                        <div class="widgets-icons ms-auto"><i class='bx bxs-category'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card radius-10 border bg-transparent  shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0">Commandes totales</p>
                                            <h4 class="mb-0">124</h4>
                                        </div>
                                        <div class="widgets-icons ms-auto"><i class='bx bxs-cart-add'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card radius-10 border bg-transparent  shadow-none mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0">Employés totaux</p>
                                            <h4 class="mb-0">{{ ntot }}</h4>
                                        </div>
                                        <div class="widgets-icons ms-auto"><i class='bx bxs-user-account'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->
        <div class="row">
            <div class="col">
                <div class="card radius-10">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <h5 class="mb-1">Dernières commandes</h5>
                            </div>
                            <div class="ms-auto">
                                <a href="javscript:;" class="btn btn-light btn-sm radius-30">Voir toutes les commandes</a>
                            </div>
                        </div>

                        <div class="table-responsive mt-3">
                            <table class="table align-middle mb-0">
                                <thead class="table-light">
                                <tr>


                                    <th>Date</th>
                                    <th>Etat</th>
                                    <th>Somme</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <td>22 Jun, 2020</td>
                                    <td class=""><span class="badge bg-light text-white w-100">Completed</span></td>
                                    <td>#149.25</td>
                                    <td>
                                        <div class="d-flex order-actions">
                                            <a href="javascript:;" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a>
                                            <a href="javascript:;" class="ms-4 text-white bg-light border-0"><i class='bx bxs-edit' ></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>


                                    <td>22 Jun, 2020</td>
                                    <td class=""><span class="badge bg-light text-white w-100">Cancelled</span></td>
                                    <td>#149.25</td>
                                    <td>
                                        <div class="d-flex order-actions">	<a href="javascript:;" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a>
                                            <a href="javascript:;" class="ms-4 text-white bg-light border-0"><i class='bx bxs-edit' ></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>


                                    <td>22 Jun, 2020</td>
                                    <td class=""><span class="badge bg-light text-white w-100">Pending</span></td>
                                    <td>#149.25</td>
                                    <td>
                                        <div class="d-flex order-actions">	<a href="javascript:;" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a>
                                            <a href="javascript:;" class="ms-4 text-white bg-light border-0"><i class='bx bxs-edit' ></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>


                                    <td>22 Jun, 2020</td>
                                    <td class=""><span class="badge bg-light text-white w-100">Completed</span></td>
                                    <td>#149.25</td>
                                    <td>
                                        <div class="d-flex order-actions">	<a href="javascript:;" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a>
                                            <a href="javascript:;" class="ms-4 text-white bg-light border-0"><i class='bx bxs-edit' ></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>


                                    <td>22 Jun, 2020</td>
                                    <td class=""><span class="badge bg-light text-white w-100">Completed</span></td>
                                    <td>#149.25</td>
                                    <td>
                                        <div class="d-flex order-actions">	<a href="javascript:;" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a>
                                            <a href="javascript:;" class="ms-4 text-white bg-light border-0"><i class='bx bxs-edit' ></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>


                                    <td>22 Jun, 2020</td>
                                    <td class=""><span class="badge bg-light text-white w-100">Pending</span></td>
                                    <td>#149.25</td>
                                    <td>
                                        <div class="d-flex order-actions">	<a href="javascript:;" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a>
                                            <a href="javascript:;" class="ms-4 text-white bg-light border-0"><i class='bx bxs-edit' ></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>


                                    <td>22 Jun, 2020</td>
                                    <td class=""><span class="badge bg-light text-white w-100">Cancelled</span></td>
                                    <td>#149.25</td>
                                    <td>
                                        <div class="d-flex order-actions">	<a href="javascript:;" class="text-white bg-light border-0"><i class='bx bxs-trash'></i></a>
                                            <a href="javascript:;" class="ms-4 text-white bg-light border-0"><i class='bx bxs-edit' ></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--end row-->


    </div>
    </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
   $(document).ready(function(){
       $('#notification_button').click(function(){
           jQuery.ajax({
               url :'{{ path('admin_readNotif') }}',
               success:function(){
                   $('#notification').fadeToggle('fast','linear');
                   $('#count').fadeOut('slow');
               }

           });
           return false

       });
       $(document).click(function(){
           $('#count').hide();
       });
   });
    </script>

    <!--end page wrapper -->
{% endblock %}
