{% extends 'baseBack.html.twig' %}
{% block title %}
    Category
{% endblock %}
{% block content %}

    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Ajouter Catégorie</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-category"></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-xl-9 mx-auto">



                    <hr/>
                    <div class="card">
                        {{ form_start(form) }}

                        <div class="card-body">
                            <div class="p-4 border rounded">
                                <form class="row g-3">
                                    <div class="col-md-4">
                                        <label for="validationServer01" class="form-label">Nom catégorie</label>
                                        {{ form_widget(form.name ,  {'attr': {'class': 'form-control '}}) }}

                                        <div class="valid-feedback">Looks good!</div>
                                    </div>

                                    <div class="mb-3">
                                        {{ form_widget(form.image ,  {'attr': {'class': 'form-control'}})  }}
                                        <div class="invalid-feedback">Example invalid form file feedback</div>
                                    </div>

                                    <div class="col-12">

                                    </div>
                                    <form

                                            action="{{ path('categorie') }}"
                                            style="display: inline-block">
                                        <input type="hidden">
                                        <button class="btn btn-primary"> Ajouter</button>

                                    </form>

                                </form>
                                {{ form_end(form) }}

                            </div>
                        </div>

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-icon alert-success" role="alert">
                                <i class="fe fe-check mr-2" aria-hidden="true"></i> Categorie ajouté avec succée.
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <!--end row-->
        </div>
    </div>
{% endblock %}
